.pokemon {
    width: min(1000px, 100%);
    border: 10px solid rgb(88, 117, 88);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 110px auto;
    max-height: 1200px;
    max-width: 1100px;
    box-shadow: rgba(217, 63, 63) -5px 5px, rgba(217, 63, 63, 0.3) -10px 10px, rgba(217, 63, 63, 0.2) -15px 15px, rgba(217, 63, 63, 0.1) -20px 20px, rgba(217, 63, 63, 0.05) -25px 25px;
}

.pokemon__header{
    height: 200px;
    background-color: gray;
}

.pokemon__img-body {
    position: absolute;
    top: 0;
    width: 100%;
}

.pokemon__img {
  max-width: 300px;
  margin: 0 auto;
}

.pokemon__body {
    padding: 20px;
}


.pokemon__body-id {
    text-align: center;
    text-transform: capitalize;
    padding: 82px 10px 10px 10px;
}

.pokemon__id {
    font-size: 25px;
}

.pokemon__name {
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}

.pokemon__data {
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pokemon__data-title {
    margin-bottom: 10px;
}

.pokemon__info {
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    margin: 4px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-evenly;
    flex-wrap: wrap; */
}

.pokemon-conteiner {
    padding: 17px 20px;
    
}

.pokemon__info-title {
    text-align: center;
    font-size: 16px;
}

.pokemon__info-conteiner-text {
    display: block;
}

.pokemon__info-span {
  color: white;
  font-weight: bold;
}

.pokemon__info-text{
    background-color: aquamarine;
    margin: 4px 0;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pokemon__info-text:hover{
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.815);
}

.pokemon__stats {
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.pokemon__stats-title {
  color: #000;
}
.pokemon__stats-conteiner {
    display: flex;
    flex-direction: column;
}


.pokemon__stats-name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pokemon__stats-name-title {
    text-align: start;
}

.pokemon__stats-name-subtitle {
    text-align: end;
}

/* .pokemon__power {
    height: 25px;
} */

.pokemon__power-conteiner {
  background-color: #f7f7f7;
  height: 25px;
}
.pokemon__power-nivel {
  background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
  height: 25px;
  width: 50%;
  border-radius: 4px;
}

@media (min-width: 650px){
    .pokemon__id {
        font-size: 40px;
    }
    .pokemon__name {
        font-size: 45px;
    }
    .pokemon__data {
        font-size: 25px;
    }
    .pokemon__data-title {
        font-size: 28px;
    }
    .pokemon__info-title{
        font-size: 28px;
    }
    .pokemon__info-conteiner-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 20px;
        margin: 10px 0;
        font-size: 20px;
    }
    .pokemon__info-text{
        font-size: 20px;
    }

    .pokemon__stats {
        font-size: 22px;
        margin-top: 20px;
    }
}


/* types styles */

.border-normal {
    border: 10px solid #735259;
  }
  .border-fighting {
    border: 10px solid #96402A;
  }
  .border-flying {
    border: 10px solid #beb14c;
  }
  .border-poison {
    border: 10px solid #5B3184;
  }
  .border-ground {
    border: 10px solid #654008;
  }
  .border-rock {
    border: 10px solid #7E7E7E;
  }
  .border-bug {
    border: 10px solid #E52D2D;
  }
  .border-ghost {
    border: 10px solid #323569;
  }
  .border-steel {
    border: 10px solid #5E736C;
  }
  .border-fire {
    border: 10px solid #F96D6F;
  }
  .border-water {
    border: 10px solid #133258;
  }
  .border-grass {
    border: 10px solid #7EC6C5;
  }
  .border-electric {
    border: 10px solid #0C1395;
  }
  .border-psychic {
    border: 10px solid #E52D2D;
  }
  .border-ice {
    border: 10px solid #6FBEDF;
  }
  .border-dragon {
    border: 10px solid #478A93;
  }
  .border-dark {
    border: 10px solid #030706;
  }
  .border-fairy {
    border: 10px solid #971B45;
  }
  .border-unknown {
    border: 10px solid #696767;
  }
  .border-shadow {
    border: 10px solid #6c31a3;
  }


/* background linear gradient */
.bg-lg-normal {
  background: linear-gradient(180deg, #735259, #000);
}
.bg-lg-fighting {
  background: linear-gradient(180deg, #96402A, #000);
}
.bg-lg-flying {
  background: linear-gradient(180deg, #beb14c, #000);
}
.bg-lg-poison {
  background: linear-gradient(180deg, #5B3184, #000);
}
.bg-lg-ground {
  background: linear-gradient(180deg, #654008, #000);
}
.bg-lg-rock {
  background: linear-gradient(180deg, #7E7E7E, #000);
}
.bg-lg-bug {
  background: linear-gradient(180deg, #E52D2D, #000);
}
.bg-lg-ghost {
  background: linear-gradient(180deg, #323569, #000);
}
.bg-lg-steel {
  background: linear-gradient(180deg, #5E736C, #000);
}
.bg-lg-fire {
  background: linear-gradient(180deg, #F96D6F, #000);
}
.bg-lg-water {
  background: linear-gradient(180deg, #133258, #000);
}
.bg-lg-grass {
  background: linear-gradient(180deg, #7EC6C5, #000);
}
.bg-lg-electric {
  background: linear-gradient(180deg, #0C1395, #000);
}
.bg-lg-psychic {
  background: linear-gradient(180deg, #E52D2D, #000);
}
.bg-lg-ice {
  background: linear-gradient(180deg, #6FBEDF, #000);
}
.bg-lg-dragon {
  background: linear-gradient(180deg, #478A93, #000);
}
.bg-lg-dark {
  background: linear-gradient(180deg, #030706, #000);
}
.bg-lg-fairy {
  background: linear-gradient(180deg, #971B45, #000);
}
.bg-lg-unknown {
  background: linear-gradient(180deg, #696767, #000);
}
.bg-lg-shadow {
  background: linear-gradient(180deg, #6c31a3, #000);
}


/* text color linear gradient */
.text-normal {
  background: linear-gradient(180deg, #735259, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-fighting {
  background: linear-gradient(180deg, #96402A, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-flying {
  background: linear-gradient(180deg, #beb14c, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-poison {
  background: linear-gradient(180deg, #5B3184, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-ground {
  background: linear-gradient(180deg, #654008, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-rock {
  background: linear-gradient(180deg, #7E7E7E, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-bug {
  background: linear-gradient(180deg, #E52D2D, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-ghost {
  background: linear-gradient(180deg, #323569, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-steel {
  background: linear-gradient(180deg, #5E736C, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-fire {
  background: linear-gradient(180deg, #F96D6F, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-water {
  background: linear-gradient(180deg, #133258, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-grass {
  background: linear-gradient(180deg, #7EC6C5, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-electric {
  background: linear-gradient(180deg, #0C1395, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-psychic {
  background: linear-gradient(180deg, #E52D2D, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-ice {
  background: linear-gradient(180deg, #6FBEDF, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-dragon {
  background: linear-gradient(180deg, #478A93, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-dark {
  background: linear-gradient(180deg, #030706, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-fairy {
  background: linear-gradient(180deg, #971B45, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-unknown {
  background: linear-gradient(180deg, #696767, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-shadow {
  background: linear-gradient(180deg, #6c31a3, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}